@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.bold{
    font-weight: 700px;
}

.navbar{
    background-color: #fff;
}

.secure{
    letter-spacing: 2.5px;
    font-weight: 500;
    margin-top: 5px;
}

.bi-shield-fill-check{
    color: green;
    /* font-size: 30px; */
}

.top_nav{
    /* background-color: #fa5757; */
    color: #000;
    padding-top: 15px;
}

.fa-arrow-left{
    color: #000;
}

.topnav_title{
    font-size: 17px;
    font-weight: 500;
    margin: 0px 0px 5px 4px;
}

.header_line{
    width: 100%;
    height: 100px;
    margin: 0%;
    padding: 20px 20px 0px 50px;
    display: flex;
    justify-content: space-between;
}

.logo1{
    width: 59px;
    height: 50px;
}

.fa-shield-check{
    color: green;
    /* background-color: green; */
    font-size: 12px;
}

#shield{
    color: green;
    /* background-color: green; */
    font-size: 12px;
    height: 20px;
    width: 20px;
}

.iwt{
    display:block;
    }

.header_middle{
    /* width: 300px; */
    letter-spacing: 2.5px;
    margin-top: 10px;
}

.green{
    color: green;
    font-weight: 500;
    padding: 0px;
}


.deliver_to_box{
    padding: 15px 15px;
    margin: 15px 0px 15px 0px;
    
}

.pin_code{
    font-weight: 500;
}

.deliver_to_box p{
    margin: 5px 0px 0px 0px;
}

.pin_button{
    /* max-width: 100px; */
    border: 2px solid rgb(228, 54, 83);
    background-color: #fff;
    color: rgb(228, 54, 83);
    font-size: 12px;
    font-weight: 500;
}

.offers{
    /* padding: 15px 15px 0px 15px; */
    margin: 0px 0px 15px 0px;
}

.offers_tab:focus{
    background-color: green;
    box-shadow: none;
}

.fa-badge-percent{
    color: #000;
    /* font-size: 12px; */
    /* background-color: green; */
}

.prod_one{
    padding: 15px 15px 10px 15px;
    margin-bottom: 15px;
}

.prod_img{
    max-width: 150px;
    max-height: 150px;
    margin: 0px;
}

.brand_name{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
}

.categor{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 14px;
}

.seller{
    margin: 0px 0px 18px 0px;
    padding: 0px;
    font-size: 14px;
}

.prod_size{
    font-size: 20px;
    font-weight: 500;
    margin-top: 2px;
}

.quantity{
    display: flex;
    justify-content: start;
}

.set_quantity{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: right;
}

.page-item{
    color:rgb(228, 54, 83);
    font-size: 13px;
}

.page-link{
    width: 35px;
    text-align: center;
    color: rgb(228, 54, 83);
}

.page-link:focus{
    box-shadow: none;
    background-color: #fff;
    color: rgb(228, 54, 83);
}

.page-link:hover{
    color: rgb(228, 54, 83);
}

.check{
    display: flex;
    justify-content: center;
    padding: 0px;
}

.fa-check{
    color: green;
    font-size: 12px;
}

.check-item{
    font-size: 12px;
    font-weight: 500;
    padding: 0px;
    margin: 5px 0px 0px 0px;
}

.amount{
    font-size: 25px;
    font-weight: 700;
}

.del_but{
    font-weight: 500;
}

.fa-tags{
    padding-top: 2px;
    padding-right: 6px;
    margin-right: 1px;
}

.coupon{
    text-decoration: none;
    color: #000;
    margin: 0px;
    border: none;
    padding: 0%;
}

.coupon:focus{
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: none;
}

.coupon:hover{
    color: #000;
}

.code_input:focus{
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #000;
}

.apply{
    border: 1px solid rgb(228, 54, 83);
    background-color: #fff;
    color:rgb(228, 54, 83);
    padding: 5px 30px;
}

.apply:hover{
    background-color: rgb(228, 54, 83);
    color: #fff;
    transition: 0.3s;
}

.place_order{
    width: 100%;
    background-color: rgb(228, 54, 83);
    color: #fff;
}






@media screen and (max-width:1050px) {
    
    /* .boyfull{
        display: none;
    } */

    .header_line{
        display: none;
    }

    .left_side{
        margin-top: 10px;
    }

    .pin_code{
        /* margin: 0%; */
        width: 100%;
    }

    .prod_one{
        padding-bottom: 0px;
    }

    .prod_size{
        font-size: 13px;
        margin-top: 5px;
    }

    .amount{
        display: none;
    }

    .amount_mobile{
        font-size: 25px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .brand_name, .categor, .seller, .check-item{
        font-size: 12px;
    }

    .del_but{
        font-size: 15px;
        font-weight: 500;
        margin: 0px;
    }

    .right_side{
        margin-top: 0%;
        margin-bottom: 20px;
    }

    .coupon_body{
        margin-top: 20px;
    }

    .place_order{
        display: none;
    }

    .order_bottom{
        padding-bottom: 15px;
    }

    .order_amt{
        font-weight: 700;
        font-size: 19px;
    }
    
    .order_btn_btm{
        /* max-width: 100px; */
        border: 2px solid rgb(228, 54, 83);
        background-color: rgb(228, 54, 83);
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        width: 200px;
    }
}


@media (min-width: 768px){

    /* .boyhalf{
        display: none;
    } */

    .navbar{
        display: none;
    }

    .amount_mobile{
        display: none;
    }

}
